@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.container {
  font-family: "VT323";
}

.header {
  font-size: calc(20px + 4vmin);
}

.App {
  
  font-size: calc(10px + 2vmin);
  color: white;
  height:100%;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-btn {
  width: 100%;
  margin-bottom: 10px;
}

.dropdown {
  width: 100%;
  padding-bottom: 10px;
}